[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "lassoinf"
version = "0.1.0"
description = "Selective inference tools"
authors = [
    { name = "Jonathan Taylor" }
]
requires-python = ">=3.9"
dependencies = [
    "numpy",
    "scipy",
    "matplotlib"
]

[tool.hatch.build.targets.wheel]
packages = ["lassoinf"]