useDynLib(lassoinf, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
importFrom(Rcpp, loadModule)
export(LassoInference)
export(AffineConstraints)
export(DiscreteFamily)
export(TruncatedGaussian)
export(WeightedGaussianFamily)
export(TruncBivariateNormal)
