useDynLib(lassoinf, .registration = TRUE)
importFrom(Rcpp, sourceCpp)
importFrom(Rcpp, loadModule)
export(lasso_inference)
export(SelectiveInference)
export(DiscreteFamily)
export(TruncatedGaussian)
export(WeightedGaussianFamily)
export(TruncBivariateNormal)
